node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env

dist/
build/

logs
*.log

.DS_Store
Thumbs.db
*.tmp
*.swp

.vscode/
.idea/

desktop.ini

coverage/
*.lcov

.cache/
.next/
out/
